@import "color.css";

body {
    background: var(--color-bg-primary);
    font-family: Cantarell;
}
h1{
    margin: 40px auto;
    color: var(--color-fg-primary);
    text-align: center;
    font-family: Cantarell;
}

hr {
    border: 1px solid var(--color-fg-primary);
    font-family: Cantarell;
}

div {
    color: var(--color-fg-primary);
    font-family: Cantarell;
    font-weight: bold;
    font-size: 1.2em;
}

table, th, td {
    font-family: Cantarell;
    padding: 6px;
    border: 1px solid var(--color-fg-primary);
    border-radius: 5px;
    border-collapse: collapse;
    font-weight: bold;
    font-size: 1.2em;
}

button {
    font-family: Cantarell;
    padding: 6px;
    border: 1px solid var(--color-fg-primary);
    border-radius: 5px;
    background: var(--color-brown);
    font-weight: bold;
    font-size: 1.2em;
    color: var(--color-fg-primary);
}

button .delete {
    background: var(--color-red);
    color: var(--color-fg-primary);
}

input, select{
    padding: 6px;
    border: 1px solid var(--color-fg-primary);
    border-radius: 5px;
    background: var(--color-bg-elevated);
    font-weight: bold;
    font-size: 1.2em;
    color: var(--color-fg-primary)
}

fieldset {
    border: 1px solid var(--color-fg-primary);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--color-fg-primary);
    font-family: Cantarell;
}

form {
    font-family: Cantarell;
    margin: 6px;
}

.button {
    margin: 6px;
    border: 1px solid var(--color-fg-primary);
    border-radius: 5px;
    background: var(--color-bg-elevated);
    font-weight: bold;
    font-size: 1.2em;
    color: var(--color-fg-primary);
    outline-style: none;
}

a {
    padding: 3px;;
    margin: 9px;
    border: 1px solid var(--color-fg-primary);
    border-radius: 5px;
    background: var(--color-bg-elevated);
    font-weight: bold;
    font-size: 1.2em;
    color: var(--color-fg-primary);
    outline-style: none;
}

.error {
    color: var(--color-error);
}


a:visited {
    outline-style: none;
}
